[BASIC]
# Allow one-letter variable names... this is physics not Google
variable-rgx=[a-zA-Z_][a-z0-9_]{0,30}$
argument-rgx=[a-zA-Z_][a-z0-9_]{0,30}$
function-rgx=[a-zA-Z_][a-z0-9_]{0,90}$
method-rgx=[a-z_][a-z0-9_]{2,60}$
attr-rgx=[a-z_][a-z0-9_]{1,60}$

[MESSAGES CONTROL]
disable=no-self-use,too-few-public-methods

[FORMAT]
max-line-length=200

#dont require docstrings for small functions
docstring-min-length=10

[MISCELLANEOUS]

# List of note tags to take in consideration, separated by a comma.
# Note that we have excluded "TODO"
notes=FIXME,XXX
